<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Svetliosa</title>
  <meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="shortcut icon" type="image/x-icon" href="resources/templates/images/icon.png">
	<script src="js/javascript.js"></script>

</head>

<body style="background-color:#f4f4f4;">

<span th:if="${invalid != null}" class="error"><script> alert("Incorrect username or password");</script></span>
<span th:if="${usernameNull != null}" class="error"><script> alert("Please enter your username");</script></span>
<span th:if="${passwordNull != null}" class="error"><script> alert("Please enter your password");</script></span>



<div class="Container">
	<div class="ContainerMain">
		<div class="ContainerLeftMenu">
			
		</div>	
		<div class="ContainerCopyRight">
			<span style="font-family:Times"><h5>COPYRIGHT © SVETLIOSA 2020</h5></span>
		</div>
		<div class="ContainerLogo">
			<img th:src="@{/images/logo.png}" width=90% height=80%>
		</div>
		<div class="ContainerTitle">
			<span style="font-family:Times"><h2>AdminToolWeb</h2></span>
		</div>
		<div class="ContainerLogin">
			
			<center><span style="font-family:Times; color:#293541"><h1>Login</h1></span></center>
			<form th:action="@{/Login}">
	  			<input type="text" id="fname" th:name="username" th:value="${username}" placeholder="username">
	  			<input type="password" id="lname" th:name="password" th:value="${password}" placeholder="password">
	  			<button class="button button1" type="submit">Login</button>
			</form>
			<form th:action="@{/ForgotPassword}">
				<button class="button button1">Forgot password</button>
			</form>
		</div>
		

	</div>
</div>







</body>
</html>