<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="css/signup-style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
</head>
<style>
body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<body>
    <main>
        <div class="background">
            <div class="text">
                <h1>Signup</h1>
                <p>Have Account? <a href="login.html">Login</a></p>
            </div>
            <div class="box">
                <form class="form" method="post" th:action="@{/CreateUserAccount}">
                    <input type="text" class="fullname" th:name="fullName" th:value="${fullName}"  placeholder="Full Name" required>
                    <input type="email" class="email" th:name="email" th:value="${email}" placeholder="someone@abc.com" required>
                    <input type="text" class="username" th:name="username" th:value="${username}"  placeholder="Username" required>
                    <input type="password" class="password" th:name="password" th:value="${password}"  placeholder="Password" required>
                    <button class="buttonSignUp" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>