<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Svetliosa</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/icon.png">
	<script src="js/javascript.js"></script>
</head>

<body style="background-color:#f4f4f4;">

<span th:if="${passwordNull != null}" class="error"><script> alert("Incorrect password");</script></span>
<span th:if="${usernameNull != null}" class="error"><script> alert("Incorrect username");</script></span>
<span th:if="${passwordLength != null}" class="error"><script> alert("Password must be at least 8 characters long");</script></span>
<span th:if="${usernameLength != null}" class="error"><script> alert("Username must be at least 6 characters long");</script></span>



<div class="Container">
	<div class="ContainerMain">
		<div class="ContainerLeftMenu">
			
		</div>	
		<div class="ContainerCopyRight">
			<span style="font-family:Times"><h5>COPYRIGHT © SVETLIOSA 2020</h5></span>
		</div>
		<div class="ContainerLogo">
			<img src="images/logo.png" width=90% height=80%>
		</div>
		<div class="ContainerTitle">
			<span style="font-family:Times"><h2>AdminToolWeb</h2></span>
		</div>
		<div class="ContainerLogin">
			
			<center><span style="font-family:Times; color:#293541"><h1>Please change your username and password!</h1></span></center>
			<form method="post" th:action="@{/ChangePassword}">
	  			<input type="text" id="fname" th:name="newUsername" th:value="${newUsername}" placeholder="new username">
	  			<input type="text" id="lname" th:name="newPassword" th:value="${newPassword}" placeholder="new password">
	  			<button class="button button1">Save</button>
			</form>
		</div>
		

	</div>
</div>







</body>
</html>